workflow.json
{
  "name": "Corporate AI Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "corporate-chatbot"
    },
    {
      "parameters": {
        "functionCode": "// Извлечь данные из Telegram webhook\nconst message = $input.item.json.message;\nconst userId = message.from.id;\nconst userName = message.from.first_name;\nconst text = message.text;\nconst chatId = message.chat.id;\n\nreturn {\n  json: {\n    user_id: userId,\n    user_name: userName,\n    query: text,\n    chat_id: chatId,\n    message_id: message.message_id\n  }\n};"
      },
      "name": "Parse Telegram Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.CHATBOT_BACKEND_URL}}/process",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{$json.user_id}}"
            },
            {
              "name": "query",
              "value": "={{$json.query}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Call Python Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Подготовить ответ для отправки в Telegram\nconst response = $input.item.json;\nconst chatId = $('Parse Telegram Data').item.json.chat_id;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text: response.answer || 'Извините, произошла ошибка при обработке вашего запроса.',\n    parse_mode: 'Markdown'\n  }\n};"
      },
      "name": "Prepare Telegram Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$json.chat_id}}"
            },
            {
              "name": "text",
              "value": "={{$json.text}}"
            },
            {
              "name": "parse_mode",
              "value": "={{$json.parse_mode}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Message processed\"}",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Логирование ошибок\nconst error = $input.item.json.error;\nconst userId = $('Parse Telegram Data').item.json.user_id;\n\nconsole.log('Error processing request:', {\n  user_id: userId,\n  error: error\n});\n\nreturn {\n  json: {\n    chat_id: $('Parse Telegram Data').item.json.chat_id,\n    text: '❌ Извините, произошла ошибка. Пожалуйста, попробуйте позже.',\n    parse_mode: 'Markdown'\n  }\n};"
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Data": {
      "main": [
        [
          {
            "node": "Call Python Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Python Backend": {
      "main": [
        [
          {
            "node": "Prepare Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Response": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "corporate-chatbot-instance"
  },
  "tags": []
}
